* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Monda', sans-serif;
  background-color: black;
  color: white;
  }

.intro {
  text-align: center;
  font-size: 35px;
}
