* {
  margin: 0;
  display: block;
}

body {
  font-family: 'Monda', sans-serif;
  background-color: black;
  color: white;
  max-width: 1600px;
  padding-left: 30px;

  }

.intro {
  text-align: center;
  font-size: 35px;
}

img {
  float: left;
  height: 400px;
  width: 600px;
  padding-right: 20px;
  
  }
